*,
html {
  padding: 0px;
  margin: 0px;
}

ul > li > a:hover {
  cursor: pointer;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Livvic', sans-serif;
}

main {
  height: 100%;
}

.title {
  text-align: center;
  background-color: rgb(97, 255, 250);
}

.title {
  padding: 15px 0;
  margin-bottom: 30px;
}

.about-me {
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  background-color: rgb(77, 232, 134);
  
}

.first-one {
  padding-bottom: 15px;
}

.last-one {
  padding-bottom: 30px;
}

.bottom-title {
  text-align: center;
  padding: 15px 0;
  margin-top: 30px;
  background-color: rgb(97, 255, 250);
  
}

.middle-section li {
  display: inline;
}

.middle-section li > a {
  text-decoration: none;
  color: black;
  text-align: left;
  font-size: 1.1em;
  cursor: pointer;
  padding: 10px; 
  margin: 5px;
}

.middle-section {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-around;
}

.middle-section img {
  width: 250px;
  height: 200px;
  margin: 15px 0;
  padding: 0 15px;
}

.box-project{
    text-align: center;

}

.bot-list {
    padding-top: 5px;
    font-size: 16px;
    margin: 15px 150px;
    text-align: center;
    line-height: 23px;
  }

footer{
    text-align: center;
    margin-top: 50px;
}

.contact-title{
    margin-bottom: 15px;
    padding: 25px 0;
    background-color: rgb(97, 255, 250);
}

.contact{
    background-color: rgb(77, 232, 134);
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 15px;
}

.contact a{
    text-decoration: none;
    color: black;
    padding: 5px;
    border-radius: 50px;
}

.contact li{
    margin: 10px;
}

/* start of mobile CSS */
@media only screen and (min-width: 500px) {
  body {
    height: 100%;
  }
  .first-one, .last-one{
    margin: 0 50px;
  }

  .about-me {
    padding: 0 10px;
    font-size: 16px;
    line-height: 22px;
  }

  .title p {
    font-size: 46px;
    padding: 14px;
    font-weight: bold;
  }

  .first-one {
    padding-bottom: 15px;
  }

  .last-one {
    padding-bottom: 50px;
  }


  .middle-section {
    text-align: left;
    height: auto;
  }

  .box-project{
      display: block;
      text-align: center;
  }

  .bottom-title {
    padding-top: 15px;
    font-size: 1.6em;
    font-weight: bold;
  }

  .middle-section img {
    width: 250px;
    height: 200px;
    margin: 15px 0;
  }

  .middle-section li {
    display: inline;
  }
  
  .middle-section li > a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 1.1em;
    cursor: pointer;
    border: 1px solid black;
    padding: 10px; 
    margin: 5px;
  }

  .bot-list {
    padding-top: 15px;
    line-height: 22px;
    margin: 0 15px;
  }
}
